@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .maraton th {
    @apply px-1 py-1 text-center md:pr-2 md:text-right xl:py-2 xl:pr-4;
  }

  .maraton th.pos {
    @apply px-1 py-1 text-center xl:py-2;
  }

  .maraton th.team {
    @apply px-1 py-1 text-left md:w-[20%] xl:py-2;
  }

  .maraton td {
    @apply px-1 py-1 text-right tabular-nums xl:py-2;
  }

  .maraton td.left {
    @apply px-1 py-1 text-left xl:py-2;
  }

  .maraton td.center {
    @apply px-1 py-1 text-center xl:py-2;
  }

  .season th {
    @apply px-1 py-1 text-right xl:w-8;
  }
  .season th.pos {
    @apply px-1 py-1 text-center xl:w-8;
  }
  .season th.team {
    @apply px-1 py-1 text-left xl:w-56;
  }

  .season th.twelve {
    @apply px-1 py-1 text-right xl:w-12;
  }

  .season th.points {
    @apply pl-1 pr-2;
  }

  .season td {
    @apply px-1 py-1 text-right tabular-nums xl:py-2;
  }

  .season td.pos {
    @apply px-1 py-1 text-center xl:py-2;
  }

  .season td.team {
    @apply px-1 py-1 text-left xl:py-2;
  }

  .season td.points {
    @apply pl-1 pr-2;
  }

  .roundForRound th {
    @apply w-4 px-1 py-1 text-right xl:w-8 xl:py-2;
  }

  .roundForRound th.pos {
    @apply w-4 px-1 py-1 text-center xl:w-8 xl:py-2;
  }

  .roundForRound th.team {
    @apply w-24 px-1 py-1 text-left xl:w-48 xl:py-2;
  }

  .roundForRound th.dir {
    @apply w-4 px-1 py-1 xl:w-8 xl:py-2;
  }

  .roundForRound th.twelve {
    @apply w-6 
    px-1 py-1 text-right xl:w-12 xl:py-2;
  }

  .roundForRound td {
    @apply px-1 py-1 text-right tabular-nums xl:py-2;
  }
  .roundForRound td.pos {
    @apply px-1 py-1 text-center xl:py-2;
  }
  .roundForRound td.team {
    @apply px-1 py-1 text-left xl:py-2;
  }
  .roundForRound td.dir {
    @apply px-1 py-1 text-left opacity-30 xl:py-2;
  }

  .compareFirstLast .card {
    @apply my-2 flex w-full flex-col rounded bg-muted-foreground/20 px-3 py-1;
  }

  .compareFirstLast .line1 {
    @apply mb-0.5 font-semibold;
  }

  .compareFirstLast .line2 {
    @apply flex flex-row justify-between;
  }

  .compareFirstLast .result {
    @apply tabular-nums;
  }

  .compareStats th {
    @apply px-0.5 py-1;
  }

  .compareStats td {
    @apply px-0.5 py-1;
  }

  .compareGames th {
    @apply px-1 py-1 text-right md:w-8 md:py-2;
  }

  .compareGames th.twelve {
    @apply px-1 py-1 text-right md:w-12 md:py-2;
  }

  .compareGames th.team {
    @apply px-1 py-1 text-left md:w-56 md:py-2;
  }

  .compareGames td {
    @apply px-1 py-1 text-right tabular-nums md:py-2;
  }

  .compareGames td.team {
    @apply px-1 py-1 text-left md:py-2;
  }

  .animation th {
    @apply text-right xl:w-8;
  }
  .animation th.pos {
    @apply text-center xl:w-8;
  }
  .animation th.team {
    @apply text-left xl:w-56;
  }

  .animation th.twelve {
    @apply text-right xl:w-12;
  }

  .animation td {
    @apply px-1 py-0.5 text-right tabular-nums;
  }

  .animation td.pos {
    @apply text-center;
  }

  .animation td.team {
    @apply text-left;
  }

  .animation td.twelve {
    @apply text-right xl:w-12;
  }

  .hideMenuNav {
    @apply hidden;
  }

  .showMenuNav {
    @apply absolute left-0 top-0 z-[10001] flex h-screen w-full flex-col items-center justify-evenly bg-background;
  }

  .header li {
    @apply my-8 border-b border-gray-400 font-bold uppercase tracking-widest;
  }

  .recordCard {
    @apply mb-1 flex flex-row items-center rounded bg-background p-1 pr-4 text-sm md:mb-2 md:p-2;
  }

  .recordCard .record1st {
    @apply flex flex-row;
  }

  .recordCard .pos {
    @apply mr-4 w-8 text-right text-2xl font-bold tabular-nums;
  }

  .recordCard .record1st .name {
    @apply w-32 truncate font-semibold lg:w-48;
  }

  .recordCard .record1st .count {
    @apply w-24 text-right;
  }

  .recordCard .record2nd {
    @apply flex flex-row items-center justify-between text-[10px] md:text-xs;
  }

  .recordCard .record2nd .dates {
    @apply w-48 sm:w-64;
  }

  .statsCard {
    @apply m-1 flex flex-row justify-between rounded bg-background p-1 text-[10px] sm:text-sm md:mb-2 md:p-2 xl:text-base;
  }

  .statsCard .name {
    @apply font-semibold;
  }

  .statsCard .count {
    @apply text-right tabular-nums;
  }

  .streakCard {
    @apply m-1 flex flex-col rounded bg-background p-1 text-[10px] sm:text-sm md:mb-2 md:p-2 xl:text-base;
  }

  .streakCard .head {
    @apply font-bold;
  }

  .streakCard .streak1st {
    @apply flex flex-row justify-between;
  }

  .streakCard .streak1st .name {
    @apply w-32 font-semibold sm:w-48;
  }

  .streakCard .streak1st .count {
    @apply w-24 text-right tabular-nums;
  }

  .streakCard .streak2nd {
    @apply flex flex-row;
  }

  .streakCard .streak2nd .dates {
    @apply w-48 text-[10px] sm:w-64 md:text-xs;
  }

  .leaflet-container {
    @apply z-0;
  }

  .leaflet-icon-blue {
    @apply border-none bg-transparent fill-blue-700;
  }

  .leaflet-icon-red {
    @apply border-none bg-transparent fill-red-700;
  }

  .teamCurCard {
    @apply m-1 mb-2 flex flex-col rounded bg-muted-foreground/20 p-1 text-[10px] xxs:text-xs md:p-2 lg:mr-0 lg:text-sm;
  }

  .teamCurCard .curCard1st {
    @apply mb-1 flex flex-row justify-between;
  }

  .teamCurCard .dates {
    @apply font-semibold;
  }

  .teamCurCard .cur {
    @apply mb-2;
  }
  .content-container {
    @apply h-[calc(100vh-5rem)];
  }
}

#map {
  z-index: 0;
}

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
